.item {
    margin: 4px;
    flex: 0 1 calc(20% - 8px); /* <-- adjusting for margin */
  }

.displayer{
  width: 100vw;
  height: 200px; /* height given for illustration */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

input {
  display: none;
}

.image-upload-container {
  cursor: pointer;
}

.likeNumber{
  color:black;
  text-decoration: none;
}

.likeNumber:hover{
  text-decoration:underline;
  cursor: pointer;
}
.img-preview-container {
  background-color: #f7f7f7;
  position: relative;

  .img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px;

    &-error {
      display: none;
    }
  }
}

.img-loading-overlay {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
}

.img-spinning-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.img-spinning-circle:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-bwm {
  background-color: green;
  border-color: black;
  color: white;
  font-size: 10px;

  &:hover, &:focus, &:active {
    border-color: black !important;
    background-color: greenyellow !important;
  }
}
.image{
  height:100vh; background-size:cover; width:auto;
  background-image:url('/assets/images/1.jpg');
  background-position:50% 50%;
}

.img-thumbnail{
  cursor:pointer;
}

.example-card {
  width: 400px;
  height: auto;
}

.example-header-image {
  background-image: url('https://static.wixstatic.com/media/4eadbd_a218f84f90ba4681a96faa45633dd083~mv2.png/v1/fill/w_194,h_130,al_c,q_80,usm_0.66_1.00_0.01/4eadbd_a218f84f90ba4681a96faa45633dd083~mv2.webp');
  background-size: cover;
}

.heart{
  color:red;
}