.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

.icon {
  cursor: pointer;

}
.imageHolder {  
  display: flex;
  flex-wrap: wrap;  
  grid-gap: 5px;  
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(2, 100px);  
}

.img {

  object-fit: cover;
}
ul{
  list-style: none;
}
.description {
  display:flex;
  flex-wrap: wrap;
  grid-gap: 5px;  
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(2, 100px);  
}