@import url("https://fonts.googleapis.com/icon?family=Material+Icons%7CMaterial+Icons+Outlined");

.form-content{
  display: flex;
  flex-direction: column
}
#rgpd{
  font-size: smaller;
  color: #929292;
}
.registration{
  height:100vh;
}
mat-card{
  width: auto;
  min-width:300px;
  height:700px;
}
a{
  color: #8b1461;
  font-weight: bold;
}