<div style="display:flex; justify-content:center;"><mat-spinner [color]="color" [mode]="mode" [diameter]="diameter" *ngIf="isLoading"></mat-spinner></div>
<h2 *ngIf="!isLoading">Les formations de Fenrir Studio</h2>

<table class="table" *ngIf="!isLoading">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Titre de la formation</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let formation of formations">
      <th scope="row">{{ formation.id }}</th>
      <td scope="row"><img class="img-thumbnail" style="width:100px;height:auto;" src="http://connexion.fr/{{ formation.image.imgPath }}"/></td>
      <td style="font-weight:bold;">{{ formation.name }}</td>
      <td>{{ formation.description }}</td>
      <td><button (click)="registerToFormation(formation)" class="btn btn-success">Inscription</button></td>
    </tr>
  </tbody>
</table>