footer{
    background-color: black;
    color: white;
    font-size: 0.85em;
    padding: 10px;
    bottom:0;
    width:100vw;
    margin-top: auto;
}

.politic {

    color:white;
    cursor:pointer;

}

.mentions{

    color:white;
    cursor:pointer;
}