<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <mat-toolbar color="primary" role="heading">
      <span>Menus</span>
      <span class="remaining-space"></span>
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>clear</mat-icon>
          </button>
    </mat-toolbar>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary" role="heading">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>view_headline</mat-icon>
          <span>{{ title }}</span>
          </button>
            <span class="remaining-space"></span>
            <span>Angular</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="container-fluid">
  bruh
</div>

