<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-toolbar class="darkNav" role="heading">
      <img *ngIf="isConnected()" src="http://admin.fenrir-studio.fr/{{user?.profilePicture?.imgPath}}" style="width:40px;height:40px; border-radius:50%;"/>
      <span class="ml-2">{{ user?.username}}</span>
      <span class="remaining-space"></span>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar>
    <nav>
      <mat-nav-list>
          <hr style="background-color: white;">
          <a routerLink="/actu" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
            <mat-icon>new_releases</mat-icon><span class="font">Accueil</span>
          </a>
          <a routerLink="/formation" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
            <mat-icon style="color:darkblue;">school</mat-icon><span class="font">Nos formations</span>
          </a>
          <a *ngIf="!isConnected()" routerLink="/register" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
            <span class="font">Insciption</span>
          </a>
          <a routerLink="/event" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
            <mat-icon style="color:red;">event</mat-icon><span class="font">Nos évènements</span>
          </a>
          <a routerLink="/surveys" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
            <mat-icon style="color:gold">grade</mat-icon><span class="font">Noter le site</span>
          </a>
          <a routerLink="/portfolio" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
            <mat-icon style="color:brown;">color_lens</mat-icon><span class="font">Nos créations</span>
          </a>
          <a routerLink="/contact" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
            <span class="font">Contact</span>
          </a>
      </mat-nav-list>
      <div class="remaining-space"></div>
      <mat-nav-list>
      <a *ngIf="isConnected()" routerLink="/actu" routerLinkActive="active" mat-list-item (click)="logout()" (click)="sidenav.close()">
        <span class="font">Déconnexion</span>
      </a>
      </mat-nav-list>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" role="heading">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>view_headline</mat-icon>
        
      </button>
      <span class="remaining-space"></span>
      <img src="assets/images/0.jpeg" style="width:40px;height:40px; border-radius:50%;"/>
      <span style = "font-family: 'Shojumaru', cursive;">Fenrir Studio</span>
      <span class="remaining-space"></span>
      <span *ngIf="!isConnected()">
        <button mat-button [matMenuTriggerFor]="menu">
          <span>Inconnu</span>
        <mat-icon class="material-icons-outlined">account_box</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/login" routerLinkActive="active">
            <span>Se Connecter</span>
          </button>
        </mat-menu>
      </span>
      <span *ngIf="isConnected()">
        <button mat-button [matMenuTriggerFor]="menu">
          <img *ngIf="user?.profilePicture" style="width:40px; height:40px; border-radius:50%;" src="http://admin.fenrir-studio.fr/{{user.profilePicture.imgPath}}"/>
          <img *ngIf="!user?.profilePicture" style="width:40px; height:40px; border-radius:50%;" src="assets/images/placeholder.png"/>
          <span class="ml-2">{{ user?.username }}</span>
        </button>
        
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile" routerLinkActive="active">
                <mat-icon class="material-icons">account_circle</mat-icon>
                <span>Mon compte</span>
              </button>
              <!--<button mat-menu-item routerLink="/profile" routerLinkActive="active">
                <mat-icon class="material-icons">build</mat-icon>
                <span>Options</span>
              </button>-->
          <button mat-menu-item (click)="logout()">
              <mat-icon class="material-icons">exit_to_app</mat-icon>
            <span>Se Déconnecter</span>
          </button>
        </mat-menu></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!--<footer>
        <p>
          &copy; All rights reserved for 
          <i>Fenrir Studio</i>
           2019
        </p>
    </footer>-->
    <app-cookie></app-cookie>
    <app-footer style="margin-top: auto;"></app-footer>
    

    
      
    </mat-sidenav-content>
    
</mat-sidenav-container>
