<div class="container-fluid" style="margin-top: 20px;" *ngIf="isConnected()">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Données personnelles
        </mat-panel-title>
        <mat-panel-description>
            <mat-icon>account_circle</mat-icon>
          Mes infos
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-6">
      <img *ngIf="user.profilePicture" class="img-thumbnail img-fluid" style="max-width: 200px;" src="{{prefix}}{{user?.profilePicture?.imgPath}}"/>
      <img *ngIf="!user.profilePicture" class="img-thumbnail img-fluid" style="max-width: 200px;" src="assets/images/placeholder.png"/>
      <img class='img-thumbnail img-fluid ml-3 md-mt-3' [src]="imgURL"style="max-width:200px;z-index:1000" *ngIf="imgURL"/>
        <h3>Changer ma photo de profil</h3>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
              <span style="color:red" *ngIf="message">{{message}}</span>
              <input style="display:block;" type="file" id="file" name="fichier"(change)="preview($event.target.files)" (change)="handleFileInput($event.target.files)"/>
              <small>Entrer un titre</small>
              <input class="form-control" style="display:block;" type="text" id='title' name="title" (change) = "setTitle()"/>
              <small>Entrer une description</small>
              <textarea class="form-control" style="display:block;" type="text" id="description" name="description" (change) = "setDescription()"></textarea>
          </div>
          <div class="form-group">
              <button [disabled]="!hasFile" class="btn btn-primary">Modifier</button>
          </div>
      </form>
    </div>
    <div style="border:1px solid black;padding:1%;" class="col-lg-6 col-sm-12">
      <div class="row">
          <div class="col-md-6 ml-1">
              Nom: {{ user.fname }}<br>
              Prénom: {{ user.lname }}<br>
              Adresse mail: {{ user.email }}<br>
          </div>
        
      </div>
      <div>
        <mat-icon *ngIf="user.adherent" style="color:green;cursor:pointer;" ngbTooltip="Vous êtes adhérent">verified_user</mat-icon>
        <mat-icon *ngIf="!user.adherent" style="cursor:pointer;" ngbTooltip="Vous n'êtes pas adhérent">verified_user</mat-icon>
        <mat-icon *ngIf="user.formateur" ngbTooltip="Vous êtes un formateur" style="color:green;cursor:pointer;">school</mat-icon>
        <mat-icon *ngIf="!user.formateur" ngbTooltip="Vous n'êtes pas formateur" style="cursor:pointer;">school</mat-icon>
      </div>
      
    </div>
    </div>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Suivant</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mes formations
        </mat-panel-title>
        <mat-panel-description>
            <mat-icon>school</mat-icon>
          Mes formations
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h2>Mes Formations</h2>
<div class="container">
  
    <mat-icon routerLink="/new/formation"  style="color:green;cursor:pointer;" *ngIf="user.formateur">add_circle</mat-icon> <span style="font-weight: bold;">Suggérer une formation</span>
  <div *ngIf="user.formations.length < 1" class="mt-3">
    <ngb-alert [dismissible] = "false"><strong>Aucune formation</strong>, vous ne participez à aucune formation actuellement !
      <a routerLink="/formation">Voir les formations disponibles</a> 
    </ngb-alert>
  </div>
  <div *ngIf="user?.formations?.length >=1" class="mt-3">
      <div *ngFor="let formation of user.formations">
        <img class="img-thumbnail" style="width:200px;height:200px;" src="http://admin.fenrir-studio.fr/{{ formation.image.imgPath }}"/>
        <p [innerHTML]="formation?.name | html"></p>
        <p [innerHTML]="formation.description | html"></p>
        <hr>
      </div>
  </div>
</div>
  <hr>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Précédent</button>
        <button mat-button color="primary" (click)="nextStep()">Suivant</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mes évènements
        </mat-panel-title>
        
        <mat-panel-description>
            <mat-icon>date_range</mat-icon>
          Mes évènements
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h2>Mes Evenements</h2>
  <div class="container">
    
    <div *ngIf="user?.events?.length < 1">
      <ngb-alert [dismissible] = "false"><strong>Aucun évènement</strong>, vous ne participez actuellement à aucun évènement ! 
        <a routerLink="/event">Voir les évènements en cours</a>
      </ngb-alert>
    </div>
      <div *ngIf="user.events.length >=1">
        <li *ngFor="let event of user.events">
            {{ event.name }} :
            <p [innerHTML]="event.description | html"></p>
            <p>Cet évènement a lieu le {{ event.hour.timestamp *1000 | date: 'dd/MM/yyyy' }} à {{ event.time.timestamp *1000 | date: 'H:mm' }} </p>
            <a routerLink="/event/{{event.id}}">Voir les détails de l'évènement</a>
            <hr style="color:black;">
        </li>
        
      </div>
      
    </div>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Précédent</button>
        <button mat-button color="primary" (click)="nextStep()">Suivant</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            
          Mes images
        </mat-panel-title>
        
        <mat-panel-description>
            <mat-icon>palette</mat-icon>
          Mes images
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <h2>Mes images</h2>
      <table class="table table-dark table-borderless">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Date de partage</th>
              <th scope="col">Supprimer</th>
            </tr>
          </thead>
          <tbody>
      
          
            <tr *ngFor="let photo of user.photos">
               
                <td *ngIf='photo.type.name === "Photo de portfolio"'><img src="{{prefix}}{{photo.imgPath}}" title="{{photo.title}}" style="max-width: 100px;" class='img-thumbnail'/></td>
                <td *ngIf='photo.type.name =="Photo de portfolio"'>{{photo.createdAt.timestamp * 1000 | date: 'dd/MM/yyyy \à HH:mm:ss'}}</td>
                <td *ngIf='photo.type.name === "Photo de portfolio"'><button  (click)="deleteModal(image)" class="btn btn-danger"><mat-icon>delete</mat-icon></button></td>
                <ng-template #image let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Suppression d'une image</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                      <div class="modal-body">
                        <div>
                          <p>Voulez vous vraiment supprimer cette image ? Elle n'apparaîtra plus ni dans votre espace perso, ni dans l'onglet portfolio</p>
                          <div>
                            <img src="http://admin.fenrir-studio.fr/{{ photo.imgPath }}" class="img-fluid"/>
                          </div>
                            
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
                        <button type="button" class="btn btn-outline-dark" (click)="deleteImage(photo)">Oui</button>
                      </div>
                    </ng-template>
              </tr>
            </tbody>
          </table>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Précédent</button>
      </mat-action-row>
    </mat-expansion-panel>
    <hr>
    <div style="height:500px;"></div>