<h1>Créer une nouvelle formation</h1>

<div class= "container-fluid">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="col-12">
      <ngb-alert type="danger" *ngIf="formationFailed" (close)="formationFailed = false">Une info est mauvaise ou manquante..</ngb-alert>
      <mat-card-title class="text-center">Formulaire de création</mat-card-title>
        <mat-card-content>
          <form class="form-content" [formGroup]="formationForm">
              <input class="form-control" style="margin-top: 20px;" placeholder="Titre de la formation" 
              formControlName="name" autocomplete="Off" required/>
            <br>
                <textarea class='form-control' formControlName="description"></textarea>
            
            <br>
            <input style="display:block;" type="file" id="file" (change)="handleFileInput($event.target.files)"/>
              <button class="mt-3" [disabled]="formationFailed || formationForm.invalid" mat-flat-button (click)="createFormation()" color="primary">Créer</button>
              <mat-spinner
              *ngIf="loading"
              [color]="color" 
              [mode]="mode" 
              [diameter]="diameter">
              </mat-spinner>

          </form>
          
        </mat-card-content>
    </mat-card>
  </div>
</div>
