<ngb-alert [dismissible]="false" class="alert-warning" *ngIf="(!CookieValue) && display">
  Nous avons constaté que vous êtes resté un moment sur le site, nous en profitons pour vous dire que notre site utilise des cookies pour personnaliser et améliorer votre confort d'utilisation.
  En utilisant notre site, vous acceptez l'usage des cookies et
    <span routerLink="/confidential" class="politik">notre politique de confidentialité</span>.
    <button mat-button (click)="setCookie()" fxFill>Accepter</button>
  </ngb-alert>
